p::after{
    color: red;
    font-size: 20px;
}

.caja {
    width: 20px;
    height: 20px;
    background-color: #24a19c;
    padding:20px;
    border:2px solid #cf1b1b;
    margin: 10px 20px 40px 50px;
}

.caja2{
    background-color: #a2de96;
    width:30px;
    height:30px;
}